<a href="https://colab.research.google.com/github/proballstar/Hackathon/blob/master/%5BPublic%5D_Data_Science_Fundamentals_The_Pandas_Library_Box_Office_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Fundamentals: The Pandas Library
## Box Office Data

Today, we will be exploring fundamental concepts of pandas data manipulation to prepare a data set for modeling. 

__Data set:__ Information from IMDB about movies

__Our Goal:__ Process and clean the data to prepare it for modeling to predict the gross profit of a movie.

You will need to add some code to complete this notebook.  Follow along with the instructor to find what code to add.  You will add that where the code says "\*\*\* ADD CODE HERE\*\*\*"

Have fun and good luck coding!

## Importing the packages that we'll need

One of the things that makes Python **great** for data science is all of the different libraries that exist so we don't have to code them from scratch. Tonight we'll be taking advantage of:
- [Numpy](https://numpy.org/) for scientific and mathematical computing
- [Pandas](https://pandas.pydata.org/) for data wrangling and analysis

In [0]:
# data analysis packages
import numpy as np
import pandas as pd

# default settings for pandas
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

## Import the data
Pandas can work with information from all kinds of data sources. Below, we'll import the data we need from a GitHub URL and read it into a Pandas Dataframe using the Pandas [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function.

In [0]:
# import data from github
data = pd.read_csv("https://github.com/autumntoney/predict_the_box_office/raw/master/movie_metadata.csv")

## Understand the data

In [6]:
# Check out the first lines of the data set
data.head(5)

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           nan                     0

[5 rows x 28 columns]

In [0]:
# Checking the size of our data (rows, columns)
data.shape

In [0]:
# Get a concise summary of the dataset
data.info()

In [9]:
# Understand the basic statistical details of the dd
data.describe()
data.head(11)

    color      director_name  ...  aspect_ratio  movie_facebook_likes
0   Color      James Cameron  ...          1.78                 33000
1   Color     Gore Verbinski  ...          2.35                     0
2   Color         Sam Mendes  ...          2.35                 85000
3   Color  Christopher Nolan  ...          2.35                164000
4     NaN        Doug Walker  ...           nan                     0
5   Color     Andrew Stanton  ...          2.35                 24000
6   Color          Sam Raimi  ...          2.35                     0
7   Color       Nathan Greno  ...          1.85                 29000
8   Color        Joss Whedon  ...          2.35                118000
9   Color        David Yates  ...          2.35                 10000
10  Color        Zack Snyder  ...          2.35                197000

[11 rows x 28 columns]

__Missing Values:__ You can identify columns with missing values by looking at the `non-null` items in the `.info()` call, and the difference in number of data points in the `count` row of the `.describe()` function. For example, the `num_critic_for_reviews` column has a lower `count` than `duration`, so has missing values.

__Outliers:__ You can also identify if there are outliers in the data set by looking at the `.describe()` function's spread of data in comparison to the `min` and `max` values.  For example, the `duration` column's `max` value is 511, which would correspond to an 8.5 hour film. You might want to go back and check that the values for that film are valid, and correct or drop the values that aren't.  

NB: We don't have time to investigate outliers in this workshop.

## Clean the Data

Now that we understand the basics of what's in the data, we now need to clean the data before it's ready for modeling.  Things we'll cover:
- Duplicate data
- Missing data
- Manipulating data

NB: Most models can only process numerical data, so we will focus our cleaning on those columns.

In [13]:
# Rename columns to include units
import random
n = random.randint(1,100)
data.rename(columns={'duration': 'duration_mins',
                    'budget': 'budget_usd',
                    'gross': 'gross_usd'}, inplace=True)
data.head(n)

    color      director_name  ...  aspect_ratio  movie_facebook_likes
0   Color      James Cameron  ...          1.78                 33000
1   Color     Gore Verbinski  ...          2.35                     0
2   Color         Sam Mendes  ...          2.35                 85000
3   Color  Christopher Nolan  ...          2.35                164000
4     NaN        Doug Walker  ...           nan                     0
5   Color     Andrew Stanton  ...          2.35                 24000
6   Color          Sam Raimi  ...          2.35                     0
7   Color       Nathan Greno  ...          1.85                 29000
8   Color        Joss Whedon  ...          2.35                118000
9   Color        David Yates  ...          2.35                 10000
10  Color        Zack Snyder  ...          2.35                197000
11  Color       Bryan Singer  ...          2.35                     0
12  Color       Marc Forster  ...          2.35                     0
13  Color     Gore Verbinski  ...          2.35                  5000
14  Color     Gore Verbinski  ...          2.35                 48000
15  Color        Zack Snyder  ...          2.35                118000
16  Color     Andrew Adamson  ...          2.35                     0
17  Color        Joss Whedon  ...          1.85                123000
18  Color       Rob Marshall  ...          2.35                 58000
19  Color   Barry Sonnenfeld  ...          1.85                 40000
20  Color      Peter Jackson  ...          2.35                 65000
21  Color          Marc Webb  ...          2.35                 56000
22  Color       Ridley Scott  ...          2.35                 17000
23  Color      Peter Jackson  ...          2.35                 83000
24  Color        Chris Weitz  ...          2.35                     0
25  Color      Peter Jackson  ...          2.35                     0
26  Color      James Cameron  ...          2.35                 26000
27  Color      Anthony Russo  ...          2.35                 72000
28  Color         Peter Berg  ...          2.35                 44000
29  Color    Colin Trevorrow  ...          2.00                150000
30  Color         Sam Mendes  ...          2.35                 80000
31  Color          Sam Raimi  ...          2.35                     0
32  Color        Shane Black  ...          2.35                 95000
33  Color         Tim Burton  ...          1.85                 24000
34  Color       Brett Ratner  ...          2.35                     0
35  Color        Dan Scanlon  ...          1.85                 44000
36  Color        Michael Bay  ...          2.35                     0

[37 rows x 28 columns]

### Removing duplicates
Since our data includes that of movies, we will want to check for duplicated `movie_title`, but since there could be movie remakes in here as well, we should also check the `title_year` using the Pandas [`duplicated`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html) function.

In [14]:
# Checking to see what movies are duplicates.  
# Sorting by movie title to see duplicates
data[data.duplicated(subset=['movie_title','title_year'], keep=False)].sort_values('movie_title').head()

      color      director_name  ...  aspect_ratio  movie_facebook_likes
3711  Color  Richard Fleischer  ...          1.37                     0
4894  Color  Richard Fleischer  ...          1.37                     0
4950  Color      David Hewlett  ...          1.78                   377
4949  Color      David Hewlett  ...          1.78                   377
1420  Color         Wes Craven  ...          1.85                 10000

[5 rows x 28 columns]

We do have duplicated movies in our data.  We need to drop those duplicates to remove them from our data set using the Pandas [`drop_duplicates`](https://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.DataFrame.drop_duplicates.html) function.

In [18]:
# Drop all duplicate movie titles that were released in the same year
data = data.drop_duplicates(subset=['movie_title', 'title_year'], keep='first').copy()
print(data)

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           nan                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           nan                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           nan                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[4919 rows x 28 columns]

### Missing values
Now that we've cleaned out the duplicates, let's take a look at the missing values.

In [20]:
# Show how many values are missing from each c
data.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration_mins                 15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross_usd                    863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               301
budget_usd                   485
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

There are a good number of films missing the `aspect_ratio`, and using our knowledge of movies, it is unlikely that the aspect ratio is important in predicting the gross revenue of the film.  Let's drop the whole column using the Pandas [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function.

In [0]:
# Drop the aspect ratio column,  axis=1 means drop the column
data.drop('aspect_ratio', axis=1, inplace=True)

Now, since we're wanting to eventually predict the `gross` revenue of the movie, let's take a look at the missing values of `gross`

In [22]:
# What percent of the gross values are missing?
print(len(data[data['gross_usd'].isna()])/len(data))
# Or, more simply
data['gross_usd'].isna().mean()

0.17544216304126856

0.17544216304126856

In [23]:
# show what movies are missing the gross values
data[data['gross_usd'].isna()].head()

     color director_name  ...  imdb_score  movie_facebook_likes
4      NaN   Doug Walker  ...        7.10                     0
84   Color  Roland Joffé  ...        4.50                   677
98   Color  Hideaki Anno  ...        8.20                     0
177  Color           NaN  ...        7.50                     0
199  Color    Matt Birch  ...        7.50                    40

[5 rows x 27 columns]

Since we eventually want to predict the gross revenue of a movie, having a null value for gross revenue will not help us train our model, so we should drop them using the Pandas [`dropna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) function.

In [24]:
# Drop all null values of gross
# You might be interested in how the movie performed
# so don't want to impute these values (skew the analysis)
data.dropna(subset=['gross_usd'], how='all', inplace=True)
# Check the size of the data after dropping null values
data.shape

(4056, 27)

Check out the highest-grossing movies by sorting the data.

In [25]:
# Sort all of the values by gross
data['gross_usd'].sort_values(ascending=False).head()

0    760,505,847.00
26   658,672,302.00
29   652,177,271.00
17   623,279,547.00
66   533,316,061.00
Name: gross_usd, dtype: float64

Knowing a bit about movies, it makes sense that the budget of a film might be important to predicting how much money the movie makes, so let's check out the missing budget values.

In [26]:
# Identifying the percent of budget values that are missid
data['budget_usd'].isna().mean()

0.0655818540433925

Since we have between 5-10% of budget values missing, we can impute (or fill in) the missing values without creating too much bias in the data. 

Using our knowledge of films, I know that film budgets in recent years has increased, so just imputing the mean or median budget for all missing values would not make much sense.  To get around this, we can find the median gross revenue for each year using the Pandas [`groupby`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) function, and then impute based on those values using the [`fillna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) function.

In [0]:
# Drop movies where the year is missing
data.dropna(subset=['title_year'], how='all', inplace=True)
# Convert all years to integers
data['title_year'] = data['title_year'].astype(int)

In [0]:
# Calculate median budgets per year
# Impute the median budgets per year for missing budget data
data['budget_usd'] = data['budget_usd'].fillna(data.groupby('title_year')['budget_usd'].transform('median'))

In [28]:
# Re-check to see if there are still any missing budget values
data['budget_usd'].isna().sum()

3

In [29]:
# What is the movie with missing budget still?
data[data['budget_usd'].isna()].head()

      color director_name  ...  imdb_score  movie_facebook_likes
2466  Color           NaN  ...        7.70                     0
2824  Color           NaN  ...        9.10                     0
4647  Color   James Algar  ...        7.40                     0

[3 rows x 27 columns]

There are no other movies from the year 1942, so we cannot impute based on year.  Other options:
- Impute based on the overall median budget
- Drop the film from the data
- Impute based on other data

Since it's only one film, and for the sake of time, we will drop the film from the data set.

In [0]:
data.dropna(subset=['budget_usd'], axis=0, inplace=True)

Now, let's take a look at the different countries of origin in the data.  There are likely differences in the gross revenue of movies from different countries.

In [31]:
# Identify all of the unique countries
data['country'].unique()

array(['USA', 'UK', 'New Zealand', 'Canada', 'Australia', 'Germany',
       'China', 'New Line', 'France', 'Japan', 'Spain', 'Hong Kong',
       'Czech Republic', 'India', 'Peru', 'South Korea', 'Aruba',
       'Denmark', 'Mexico', 'Belgium', 'Ireland', 'South Africa', 'Italy',
       'Romania', 'Chile', 'Netherlands', 'Hungary', 'Russia', 'Greece',
       'Taiwan', 'Official site', 'Thailand', 'Iran', 'West Germany',
       'Georgia', 'Iceland', 'Brazil', 'Finland', 'Norway', 'Sweden',
       'Argentina', 'Colombia', 'Poland', 'Israel', 'Indonesia',
       'Afghanistan', 'Cameroon', 'Philippines'], dtype=object)

In [32]:
# Find how many movies are in each country
counts = data['country'].value_counts()
counts

USA               3153
UK                 352
France             120
Germany             85
Canada              72
Australia           40
Spain               26
India               24
Japan               17
China               17
Hong Kong           15
Mexico              14
Italy               11
New Zealand         10
Ireland             10
South Korea         10
Denmark              9
Brazil               5
Thailand             5
Iran                 4
Norway               4
Russia               4
Israel               4
Czech Republic       3
Netherlands          3
South Africa         3
Argentina            3
Sweden               3
Greece               2
Hungary              2
Romania              2
Taiwan               2
Poland               2
Iceland              2
Belgium              2
Cameroon             1
West Germany         1
Official site        1
Indonesia            1
Peru                 1
Afghanistan          1
Chile                1
Philippines          1
Colombia             1
Georgia              1
New Line             1
Aruba                1
Finland              1
Name: country, dtype: int64

Since most movies are from the US, UK, and France let's just focus on movies from those three countries, so the other countries don't skew our predictions.

In [33]:
# Select just the countries with the 3 largest number of films
counts.nlargest(3)

USA       3153
UK         352
France     120
Name: country, dtype: int64

In [34]:
# Select just the country names of the three largest
counts.nlargest(n=3)

USA       3153
UK         352
France     120
Name: country, dtype: int64

In [0]:
# Select the data from only the top 3 countries
data = data[data['country'].isin(counts.nlargest(3).index)].copy()

Now, let's take a look at how our cleaning is going.

In [37]:
# Check again to see how many missing values we have
data.isna().sum()

color                         1
director_name                 0
num_critic_for_reviews        3
duration_mins                 1
director_facebook_likes       0
actor_3_facebook_likes        9
actor_2_name                  3
actor_1_facebook_likes        2
gross_usd                     0
genres                        0
actor_1_name                  2
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                  9
facenumber_in_poster          6
plot_keywords                25
movie_imdb_link               0
num_user_for_reviews          1
language                      3
country                       0
content_rating               36
budget_usd                    0
title_year                    0
actor_2_facebook_likes        3
imdb_score                    0
movie_facebook_likes          0
dtype: int64

We have very few missing values remaining -- if we had more time, we could address each individually, but we don't.  Let's drop all remaining rows that have missing values.

In [40]:
print(data.shape)
# Dropping all remaining rows that have null values
data.dropna(axis=0, inplace=True)
print(data.shape)
data.isna().sum()

(3555, 27)
(3555, 27)

color                        0
director_name                0
num_critic_for_reviews       0
duration_mins                0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross_usd                    0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget_usd                   0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
movie_facebook_likes         0
dtype: int64

## Feature Engineering
Sometimes you might want to use your knowledge of the subject to create new features to help you make predictions

Here, I think that the lead actor might have an influence on the gross revenue of a film, so let's check those out to see if we can turn these into a numerical feature for modeling.

In [41]:
# Check out the actors with the most movies in the set
data['actor_1_name'].value_counts().head()

Robert De Niro       41
Johnny Depp          34
Denzel Washington    29
J.K. Simmons         29
Matt Damon           28
Name: actor_1_name, dtype: int64

The actors with the most lead roles have 20+ lead roles in this data set.  Let's make a feature that includes whether or not the lead actor has starred in a lot of movies (20+).

For this, we will use a list comprehension, which is a concise way to create a list.  The basic syntax for this is:
- `[expression if conditional for item in list]`
  - where the `expression` is based on an item in the list, 
  - `if conditional` filters down the list
  - `for item in list` breaks down a list into individual items.

In [42]:
# List comprehension example
example_list = [1, 2, 3, 4]
[number for number in example_list if number % 2 == 0]

[2, 4]

In [45]:
# Identify all movie counts, select all star actors
lead_movie_counts = data['actor_1_name'].value_counts()
star_actors = lead_movie_counts[lead_movie_counts>=20].index
# Set `lead_star` = 1 if actor is in star_actors, otherwise 0
data['lead_star'] = [1 if x in star_actors else 0 for x in data['actor_1_name']]
data.head()
intlead = int(lead_movie_counts)
for teddy in range (intlead):
  print(star_actors)

TypeError: ignored

Perhaps the `content_rating` will have an impact on the gross revenue of the movie.  We already have this data, but our models will want the information in numerical form, not in words.  

To do this, we need to encode the ratings as numbers.  We can use the pandas [`get_dummies`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html) function.

In [47]:
# Encoding ratings as dummy variables
content_ratings = pd.get_dummies(data['content_rating'])
content_ratings.head(2)

   Approved  G  GP  M  NC-17  Not Rated  PG  PG-13  Passed  R  Unrated  X
0         0  0   0  0      0          0   0      1       0  0        0  0
1         0  0   0  0      0          0   0      1       0  0        0  0

In [48]:
# Merge the encoded data back on to the original data
data = data.join(content_ratings)
data.head(3)

   color   director_name  num_critic_for_reviews  ...  R  Unrated  X
0  Color   James Cameron                  723.00  ...  0        0  0
1  Color  Gore Verbinski                  302.00  ...  0        0  0
2  Color      Sam Mendes                  602.00  ...  0        0  0

[3 rows x 40 columns]

Now, we could do a similar type of encoding for any of the other categorical variables, but encoding all of the actor names would create too many columns.  We'll stick with the numerical data for now and select them using the Pandas [`select_dtypes`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html) function.

In [50]:
# Select columns by data type - number
numerical_data = data.select_dtypes(include='number')
numerical_data.head()

   num_critic_for_reviews  duration_mins  ...  Unrated  X
0                  723.00         178.00  ...        0  0
1                  302.00         169.00  ...        0  0
2                  602.00         148.00  ...        0  0
3                  813.00         164.00  ...        0  0
5                  462.00         132.00  ...        0  0

[5 rows x 28 columns]

Now our `numerical_data` DataFrame is ready for modeling!

# Take Home Challenge
- Investigate outliers and clean or drop them
- Analyze your clean data (see Thinkful's Art of Visualization workshops/webinars for additional support)
- Continue to engineer features based on what you know about the subject
  - Maybe the era of the film might have something to do with the gross revenue.  The [history of film](http://www.historyoffilm.net/movie-eras/history-of-cinema/) documents the movie eras we can use to create our new feature along with Pandas [`.cut`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html) function.
  - Here is some starter code to get the ball rolling:
  - Identify the era of the film

    era_bins = [0, 1910, 1926, 1940, 1954, 1976, 2000, 2100]

    era_labels = ['pioneer', 'silent', 'talkies', 'golden_era','changes', 'dawn_modern_film', 'modern_film']

    data['era'] = pd.cut(...)
- Try out different models for predicting the gross revenue of a movie (see Thinkful's Intro to Predictive Modeling workshops/webinars for additional support)
- Go back and impute some of the missing data that we dropped